#title {
    margin: auto;
    border: solid palevioletred;
    background-color: pink;
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.todoList {
    margin-top: 20px;
    padding-left: 0%;
}

.todosInput {
    border: solid palevioletred;
    background-color: pink;
    width: 100%;
    padding-left: 10px;

}

.list {
    border: solid palevioletred;
    background-color: pink;
    border-top: none;
    height: 30px;
    padding-left: 10px;
}



.task {
    border: solid palevioletred;
    background-color: pink;
    border-top: none;

}